.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 0; 
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
        row-gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width: 620px) {
    .photo-grid {
        padding: 88px 24px 0;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        max-width: 720px;
    }
}

@media screen and (max-width: 500px) {
    .photo-grid {
        padding: 64px 16px 0;
        grid-template-columns: 1fr;
        column-gap: 12px;
        row-gap: 12px;
        max-width: 288px;
    }  
}
