.cover__background {
    margin: 0;
    background-image: url(../../../images/cover/__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
}

.cover__background::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: -1;
}